@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1{
	font-size: 35px;
	margin: 1em 0;
	text-align: middle;
}
h2{
	color:#545454;
}

h3{
	font-size: 18px;
	margin: 1em 0;
	text-align: middle;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
body{
	margin:0;
	font-family: 'Lato', sans-serif;
    height: 100vh;
    background-color: #F0F0F0;
}

form{
	padding: .5em;
	outline: none;
}
img{
	width:30%;
	margin:0;
}

input{
	float:none;
	padding:1em;
	margin:.5em;
}

.upload{
	font-size: 24px;
	margin: 1em 0;
	text-align: middle;
	border-style:solid;
	border-width:medium;
	padding-left:0.25em;
	background-color: rgb(252,252,252);
	margin-right:60px;
}


.button{
	background: rgba(245, 182, 66,1);
	border: none;
	cursor: pointer;
	padding: .5em;
	border-radius: 5px;
}
.navBar{	
	color: white;
	font-weight: normal;
	font-family: 'Tahoma'; 
	background: rgb(41,165,170);
    background: linear-gradient(25deg, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255, 1) 100%);
    font-size:16px;

a{
	color: rgba(41,165,170,1)
}
}

.request {
	border: 2px solid black;
	box-shadow: 3px 6px;
	height: 160px;
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	color: #696969;
}

.whiteContainer {
    margin-bottom: 60px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255,255,255);
    box-shadow: 0 2px 3px rgb(8 8 8 / 10%), 0 0 0 1px rgb(8 8 8 / 10%);
    padding: 60px 60px 60px 60px;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 18px;
    color: #404040;
}


.topTitle {
    width: 100%;
    height: 100px;
    font-size: 50px;
    background-color: rgb(35, 153, 143);
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 80px;
    word-break: break-word;
    font-family: 'Tahoma';
    color: white;
}

.reactions {
	margin-top: 60px;
	text-align: center;
}

.emojis {
	width: 60%;
	margin-left: 20%;
}

.emoji {
	width: 14%;
	display: inline-flex;
}

.caption {
    margin-top: 10px;
}

.topnumber {
	font-size: 10px;
	width: 20px;
}